<div class="row">
    <div class="col-sm">
        <div class="bg-warning text-dark mt-4 pl-2">
            <h2>Headline</h2>
            <a>LINK</a>
        </div>
    </div>
    <div class="col-sm">
        <div class="bg-danger text-white mt-4 pl-2">
            <h2>Comment</h2>
            <p>Note</p>
        </div>
    </div>
</div>