<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" href="#">SCRAPPYNEWS</a>
    <ul class="nav nav-pills bg-danger">
        <li class="nav-item active">
            <button class="btn btn-danger text-white" id="scraper" href="scraper" data-toggle="modal" data-target="#scrapeModal">SCRAPE <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-white" href="https://github.com/irichard03/scrappynews"><i class="fab fa-github">GitHub</i><span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>
<!--banner-->
<div class="jumbotron jumbotron-fluid banner">
  <div class="container title">
    <h1 class="display-4 text-danger bolder headline">Houston Chronicle Headlines</h1>
  </div>
</div>

<!--<img src="/nose.png" class="killroy">
<!--scraped articles-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="bg-warning text-dark mt-4 pl-2">
                    <h2>Article</h2>
                    <p>Note</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="bg-danger text-white mt-4 pl-2">
                    <h2>Comment</h2>
                    <p>Note</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Modal-->
<div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="scrapeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-white text-black">
        Scraped 20 articles from <a href="https://www.chron.com">The Houston Chronicle.</a>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>